body {

  background: linear-gradient(#E6E6FA, #87CEEB);

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  margin: 0;

  font-family: 'Segoe UI', monospace;

}

.container {

  text-align: center;

  padding: 30px;

  background: pink;

  border-radius: 15px;

  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

h1 {

  font-size: 24px;

  color: #444;

}